# Supabase
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Auth cookie (SSO entre web y admin)
NEXT_PUBLIC_AUTH_COOKIE_DOMAIN=localhost

# Edge Config (Vercel)
EDGE_CONFIG=

# App URLs
NEXT_PUBLIC_WEB_URL=http://localhost:3000
NEXT_PUBLIC_ADMIN_URL=http://localhost:3001
